
irc-2020-2.aux
irc-2020-2.log
irc-2020-2.pdf
*.fls
*.dvi
*.fdb_latexmk
*.bbl
*.blg
*.synctex.gz
missfont.log
data_visualization/Landing Data.zip
data_visualization/Tracking Data.zip
data_visualization/Landing Data/
data_visualization/Tracking Data/

.DS_Store
